<h1 mat-dialog-title>ADD USER</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field appearance="outline" class="mr-16">
            <mat-label>First Name</mat-label>
            <input [(ngModel)]="user.firstName" matInput> <!--[(ngModel)]="user.firstName" get the value of input and assign to user.firstName, [Formsmodule] has to be imported before that-->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input [(ngModel)]="user.lastName" matInput >
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Birth Date</mat-label>
            <input [(ngModel)]="birthDate" matInput [matDatepicker]="picker" placeholder="mm/dd/yyyy">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Street + House No.</mat-label>
            <input [(ngModel)]="user.street" matInput >
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="mr-16">
            <mat-label>Zip Code</mat-label>
            <input [(ngModel)]="user.zipCode" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input [(ngModel)]="user.city" matInput >
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button>Cancel</button>
    <button mat-button (click)="saveUser()">Save</button>
</div>