.user-detail-container {
    //the best set I found to make the single table/card reponsive 👇:
    padding: 1rem; //makes a small distance between the table/card and the browsers edge
    .user-detail {
        min-width: calc(
            280px - 2rem
        ); //keeps the card/table being not too small in the small devices. Change the size-value as your needs to keep the content inside card/table looking best.
        width: calc(100% - 2rem);
        max-width: 1024px; //optional. To keep the card/table not to be so big in the giant-devices.
        margin: auto; //keeps the card/table in the middle horizontally.
    }
    //the best set I found to make the single table/card reponsive 👆

    .user-detail {
        min-height: 200px;
    }
}
