.add-user-btn {
    position: fixed;
    bottom: 36px;
    right: 36px;
    z-index: 999;
}

.table-container {
    overflow-x: scroll;

    //the best set I found to make the single table/card reponsive 👇:
    padding: 1rem;
    .mat-elevation-z8 {
        min-width: calc(280px - 2rem);
        width: calc(100% - 2rem);
        max-width: 1024px;
        margin: auto;
        //the best set I found to make the single table/card reponsive 👆

        .mat-row .mat-cell {
            border-bottom: 1px solid transparent;
            border-top: 1px solid transparent;
            cursor: pointer;
        }

        td {
            max-width: 120px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 1rem;
        }
    }
}

// hide scroll-bar:
.table-container::-webkit-scrollbar {
    display: none;
}
.table-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
// hide scroll-bar.
