.add-user-btn {
    position: fixed;
    bottom: 36px;
    right: 36px;
    z-index: 999;
}

.mat-elevation-z8 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 24px;
    overflow-x: scroll;

    table {
        width: 100%;
        min-width: 320px;
        max-width: 1024px;
        
        .mat-row .mat-cell {
            border-bottom: 1px solid transparent;
            border-top: 1px solid transparent;
            cursor: pointer;
        }
        
        td{
            max-width: 120px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow:ellipsis;
            padding-right: 1rem;
        }

        .mat-row:hover .mat-cell {
            border-color: currentColor;
        }
    }
}

// hide scroll-bar:
.mat-elevation-z8::-webkit-scrollbar {
    display: none;
}
.mat-elevation-z8 {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
// hide scroll-bar.