/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-16 {
    margin-right: 16px;
}

.full-width {
    width: 100%;
}

.dialog-container{
    position: relative;

    mat-progress-bar{
        position: absolute;
        top: -24px; /*24px is the automatical padding of dialog-add-user.component*/
        left: -24px;
        right: -24px;
        width: calc(100% + 2*24px);
    }
}

.highlightByHover{
    &:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
}